In [1]:
#Question number 1
n=float(input("enter the kilometer value"))
print("Value in Kilometer",n)
t=n*0.62137119
print("Value in Miles",t)

enter the kilometer value2
Value in Kilometer 2.0
Value in Miles 1.24274238

In [2]:
#Question number 2
c=float(input("enter the Celsius value"))
print("Value in Celsius",c)
f=c*1.8+32
print("Value in Fahrenheit",f)

enter the Celsius value100
Value in Celsius 100.0
Value in Fahrenheit 212.0

In [7]:
#Question number 3
import calendar
Year=int(input("Enter the year"))
print(calendar.calendar(Year))

Enter the year2022
                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

In [9]:
#Question number 4
import cmath as mt
#solving equation ax2 + bx + c
a=int(input("Enter the a value"))
b=int(input("Enter the b value"))
c=int(input("Enter the c value"))
d = b**2 - 4*a*c
sol1= (-b - mt.sqrt(d)/(2*a))
sol2= (-b + mt.sqrt(d)/(2*a))
print("The solution is",sol1,sol2 )

Enter the a value2
Enter the b value3
Enter the c value4
The solution is (-3-1.1989578808281798j) (-3+1.1989578808281798j)

In [10]:
#Question number 5
a=int(input("Enter the a value"))
b=int(input("Enter the b value"))
print("Number before swapping",a,b)
a = a + b
b = a - b
a = a - b
print("Number after swapping",a,b)

Enter the a value10
Enter the b value5
Number before swapping 10 5
Number after swapping 5 10